streamlit==1.32.0

# NLP tools
nltk==3.8.1
Sastrawi==1.0.1

# Machine learning & IR
scikit-learn==1.4.0
numpy==1.26.4
scipy==1.12.0

# Visualization
matplotlib==3.8.2

# Utils
pandas==2.2.1
tqdm==4.66.1